.headshot-group-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 2em;
}

.headshot-container h3 {
  font-size: 1.4em;
  font-weight: 400;
  text-align: center;
}

.headshot {
  height: 200px;
  width: 200px;
}

@media only screen and (max-width: 481px) {

  .about-us-text {
    font-size: .5em;
    padding-left: .75em;
  }

  .headshot-group-container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
  }

  .headshot-container h3 {
    font-size: .75em;
  }

  .headshot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headshot {
    height: 100px;
    width: 100px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 482px) {

  .about-us-text {
    font-size: .6em;
    padding: 1em;
  }

  .headshot-container h3 {
    font-size: 1em;
  }

  .headshot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headshot {
    height: 100px;
    width: 100px;
  }
}

@media only screen and (max-width: 812px) and (min-width: 768px) {

  .about-us-text {
    font-size: .75em;
    padding-left: 1em;
  }

  .headshot-container h3 {
    font-size: 1em;
  }

  .headshot-group-container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
  }

  .headshot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headshot {
    height: 100px;
    width: 100px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 813px) {

  .about-us-text {
    font-size: .75em;
    padding-left: 1em;
  }

  .headshot-container h3 {
    font-size: 1em;
  }

  .headshot-group-container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
  }

  .headshot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headshot {
    height: 100px;
    width: 100px;
  }
}

/* iPhone 6+, 7+, 8+ */
/* @media only screen and (max-width: 481px) and (min-width: 376px) {

  .about-us-text {
    font-size: .5em;
    padding-left: .75em;
  }

  .headshot-group-container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
  }

  .headshot-container h3 {
    font-size: 1em;
  }

  .headshot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headshot {
    height: 100px;
    width: 100px;
  }
} */

@media only screen and (max-width: 1212px) and (min-width: 993px) {

  .about-us-text {
    font-size: .75em;
    padding-left: .75em;
  }

  .headshot-container h3 {
    font-size: 1em;
  }

  .headshot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headshot {
    height: 100px;
    width: 100px;
  }
}
