.welcome-statement {
  border-bottom: 2px solid #e6e6e6;
  padding: 2.5em 0 4em 0;
  width: 90%;
  margin: 0 auto;
}

.welcome-statement-header {
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.welcome-statement-content {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.welcome-statement p {
  font-size: 1em;
}

.map-container {
  align-items: center;
  box-shadow: 5px 9px 20px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map-container a {
  color: #D0342D;
  text-decoration: none;
}

.contact {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 1em;
  margin-left: 5%;
  width: 90%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 50px;
  width: 40%;
}

.contact-info-details div {
  align-items: center;
  display: inline-flex;
  width: 100%;
}

.contact-info-details div h4 {
  margin-right: 15px;
}

.social-media-icons i {
  font-size: 1.5em;
  margin-right: 20px;
}

.contact-info-details a {
  color: #333333;
}

@media only screen and (max-width: 481px) {

  .welcome-statement {
    border-bottom: 2px solid #e6e6e6;
    margin: 0 auto;
    padding: .5em 0 1em 0;
  }

  .welcome-statement-header {
    font-size: .75em;
  }

  .welcome-statement p {
    font-size: .4em
  }

  .contact {
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  iframe {
    width: 250px;
    height: 250px;
  }

  .contact-info {
    padding-top: 20px;
    font-size: .5em;
    margin: 0 auto;
    width: 100%;
  }

  .contact-details {
    margin-left: 30%;
  }

  .social-media-icons {
    display: inline-flex;
  }

  .social-media-icons i {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 482px) {

  .welcome-statement {
    border-bottom: 2px solid #e6e6e6;
    margin: 0 auto;
    min-width: 80%;
    padding: .5em 0 1em 0;
  }

  .welcome-statement-header {
    font-size: 1.1em;
  }

  .welcome-statement p {
    font-size: .6em
  }

  iframe {
    width: 300px;
    height: 250px;
  }

  .contact-info {
    padding-top: 20px;
    font-size: .5em;
    margin: 0 auto;
    width: 100%;
  }

  .contact-details {
    margin-left: 50px;
  }

  .social-media-icons i {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 812px) and (min-width: 768px) {

  .welcome-statement {
    border-bottom: 2px solid #e6e6e6;
    margin: 0 auto;
    min-width: 80%;
    padding: .5em 0 1em 0;
  }

  .welcome-statement-header {
    font-size: 1.3em;
  }

  .welcome-statement p {
    font-size: .75em
  }

  iframe {
    width: 350px;
    height: 350px;
  }

  .contact-info {
    padding-top: 20px;
    font-size: .75em;
    margin: 0 auto;
    width: 100%;
  }

  .contact-details {
    margin-left: 50px;
  }

  .social-media-icons i {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 813px) {

  .welcome-statement {
    border-bottom: 2px solid #e6e6e6;
    margin: 0 auto;
    min-width: 80%;
    padding: .5em 0 1em 0;
  }

  .welcome-statement-header {
    font-size: 1.3em;
  }

  .welcome-statement p {
    font-size: .75em
  }

  iframe {
    width: 350px;
    height: 350px;
  }

  .contact-info {
    padding-top: 20px;
    font-size: .75em;
    margin: 0 auto;
    width: 100%;
  }

  .contact-details {
    margin-left: 50px;
  }

  .social-media-icons i {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 1212px) and (min-width: 993px) {

  .welcome-statement {
    border-bottom: 2px solid #e6e6e6;
    margin: 0 auto;
    min-width: 80%;
    padding: .5em 0 1em 0;
  }

  .welcome-statement-header {
    font-size: 1.5em;
  }

  .welcome-statement p {
    font-size: .85em
  }

  iframe {
    width: 350px;
    height: 350px;
  }

  .contact-info {
    padding-top: 20px;
    font-size: .75em;
    margin: 0 auto;
    width: 100%;
  }

  .contact-details {
    margin-left: 50px;
  }

  .social-media-icons i {
    margin-right: 10px;
  }
}
