body {
  /*background-color: #F1F1F1;*/
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
}

.navbar {
  background-color: #2C2C2C;
  display: inline-flex;
  height: 75px;
  justify-content: space-between;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 1em;
  width: 45%;
}

.main-logo {
  display: inline-flex;
  align-items: center;
}


.main-logo h1 {
  color: #D0342D;
  font-size: 2.3em;
  letter-spacing: 4px;
}

.main-logo h2 {
  color: #fff;
  font-weight: 200;
  font-size: 2.1em;
  text-transform: uppercase;
}

.sub-logo p {
  color: #fff;
  font-weight: 200;
  font-size: .7em;
  letter-spacing: 2.5px;
  margin-top: 0;
  margin-bottom: .5em;
}

.navbar-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.navbar-links {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-left: 3em;
  padding-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-links:active,
 .navbar-links:hover {
   border-bottom: 2px solid #D0342D;
   color: #D0342D;
}

.hero-image {
  background-image: url(images/reduced-ferrari.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-heading {
  color: #fff;
  font-size: 3em;
  font-style: italic;
  font-weight: 400;
  margin: 0 2em 0 2em;
  text-align: center;
  text-shadow: 0px 1px 1px #868686;
}

.contact {
  background-color: #EDEDED;
  height: auto;
  padding: 4em 1em 4em 1em;
  text-align: center;
}

.contact-header {
  font-size: 1.5em;
  padding: 0 6em 1em 6em;
}

.map-container {
  display: inline-flex;
  justify-content: space-between;
  width: 65%;
}

.map-container a {
  color: #D0342D;
  text-decoration: none;
}

.contact-info {
  text-align: left;
}

.contact-info h3 {
  border-bottom: 3px solid #000;
  font-weight: 400;
  padding-bottom: .5em;
  text-align: center;
}

.services-container {
  height: auto;
  margin: 0 auto;
  padding-top: 1em;
  width: 90%;
}

.serives-header {
  font-size: 2em;
  font-weight: 300;
  padding-top: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

ul {
  display: inline-flex;
  justify-content: space-between;
  list-style-type: none;
  width: 90%;
}

li {
  align-items: center;
  display: inline-flex;
  height: 200px;
  width: 200px;
}

li p {
  padding-left: 20px;
}

.fa-wrench {
  background-color: #D0342D;
  padding: 40px;
}

.services-footer {
  font-size: 1.2em;
  text-align: center;
}

.about-us-container {
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: auto;
  margin: 0 auto;
  padding: 1em 0 5em 0;
  width: 100%;
}

.about-us-header {
  font-size: 2em;
  font-weight: 300;
  padding-top: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.about-us-container p {
  padding: 0 4em 0 4em;
}

footer {
  background-color: #2C2C2C;
  color: #D0342D;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

footer h5 {
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 40px;
}
