.about-us-container {
  border-top: 4px solid #333333;
  height: auto;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 2em;
  width: 90%;
}

.about-us-header {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

.about-us-container p {
  padding: 0 4em 0 4em;
}
