.headshot-group-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 2em;
}

.headshot-container h3 {
  font-size: 1.4em;
  font-weight: 400;
  text-align: center;
}

.headshot {
  height: 200px;
  width: 200px;
}

/* iPhone 6, 7, and X */
@media only screen and (max-width: 375px) {

  .about-us-text {
    font-size: .5em;
    padding-left: .75em;
  }

  .headshot-group-container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
  }

  .headshot-container h3 {
    font-size: 1em;
  }

  .headshot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headshot {
    height: 100px;
    width: 100px;
  }
}

/* iphone 6, 7, 8 nexus 5 Landscape */
@media only screen and (max-width: 667px) and (orientation: landscape) {

  .about-us-text {
    font-size: .75em;
    padding: 1em;
  }

  .headshot-container h3 {
    font-size: 1em;
  }

  .headshot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headshot {
    height: 100px;
    width: 100px;
  }
}

/* iPhone 6+, 7+, 8+ */
@media only screen and (max-width: 414px) and (min-width: 376px) {

  .about-us-text {
    font-size: .5em;
    padding-left: .75em;
  }

  .headshot-group-container {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
  }

  .headshot-container h3 {
    font-size: 1em;
  }

  .headshot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headshot {
    height: 100px;
    width: 100px;
  }
}

/* iPad/tablet */
@media only screen and (max-width: 768px) and (min-width: 415px) {

  .about-us-text {
    font-size: .75em;
    padding-left: .75em;
  }

  .headshot-container h3 {
    font-size: 1em;
  }

  .headshot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headshot {
    height: 100px;
    width: 100px;
  }
}

/* iPad Pro */
@media only screen and (max-width: 1024px) and (min-width: 668px) {

  .about-us-text {
    font-size: 1.1em;
    padding: 1em;
  }

  .headshot-container h3 {
    font-size: 1.1em;
  }

  .headshot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headshot {
    height: 100px;
    width: 100px;
  }
}
