.contact-container {
  display: inline-flex;
  height: auto;
  margin-left: 5%;
  padding: 4em 0 4em 0;
  text-align: center;
  width: 90%;
}

.welcome-statement {
  margin-right: 2em;
  width: 60%;
}

.welcome-statement-header {
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 1px;
}

.welcome-statement p {
  font-size: 1.5em;
}

.welcome-statement-footer {
  font-weight: 400;
}

.map-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.map-container a {
  color: #D0342D;
  text-decoration: none;
}

.contact-info {
  text-align: left;
}

.contact-info h3 {
  border-bottom: 3px solid #000;
  font-weight: 400;
  padding-bottom: .5em;
  text-align: center;
}
