.hero-image {
  background-image: url(../images/porsche.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  margin-top: 100px;
  overflow-x: hidden;
  width: 100vw;
}

.main-heading {
  color: #fff;
  font-size: 1.7em;
  font-weight: 300;
  margin: 1% 20% 0 20%;
  text-align: center;
}

@media only screen and (max-width: 481px) {

  .hero-image {
    background-size: contain;
    height: 200px;
    margin-top: 60px;
    width: 100%;
  }

  .main-heading {
    font-size: 8px;
    margin-top: -5px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 482px) {

  .hero-image {
    height: 70vh;
    margin-top: 85px;
    width: 100%;
  }

  .main-heading {
    font-size: 14px;
    margin-top: -15px;
  }
}

@media only screen and (max-width: 812px) and (min-width: 768px) {

  .hero-image {
    margin-top: 75px;
    width: 100%;
  }

  .main-heading {
    font-size: 14px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 813px) {

  .hero-image {
    height: 80vh;
    margin-top: 100px;
    width: 100%;
  }

  .main-heading {
    font-size: 18px;
    margin-top: -15px;
  }
}

@media only screen and (max-width: 1212px) and (min-width: 993px) {

  .hero-image {
    margin-top: 75px;
    width: 100%;
  }

  .main-heading {
    font-size: 20px;
  }
}
