.hero-image {
  background-image: url(../images/porsche.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100vw;
}

.main-heading {
  color: #fff;
  font-size: 1.8em;
  font-weight: 300;
  margin: 1% 20% 0 20%;
  text-align: center;
}

/* iPhone 6, 7, and X */
@media only screen and (max-width : 375px) {

  .hero-image {
    background-size: contain;
    height: 200px;
    margin-top: 90px;
    max-width: 100%;
  }

  .main-heading {
    font-size: 10px;
    margin-top: -10px;
  }
}

/* iphone 6, 7, 8 nexus 5 Landscape */
@media only screen and (max-width: 667px) and (orientation: landscape) {

  .hero-image {
    height: 70vh;
    margin-top: 100px;
    width: 100%;
  }

  .main-heading {
    font-size: 13px;
    margin-top: -15px;
  }
}

/* iPhone 6+, 7+, 8+ */
@media only screen and (max-width: 414px) and (min-width: 376px) {

  .hero-image {
    height: 200px;
    margin-top: 90px;
    width: 100%;
  }

  .main-heading {
    font-size: 10px;
    margin-top: -10px;
  }
}

/* iPad/tablet */
@media only screen and (max-width: 768px) and (min-width: 668px) {

  .hero-image {
    height: 38vh;
    margin-top: 125px;
    width: 100%;
  }

  .main-heading {
    font-size: 20px;
  }
}

/* iPad Pro */
@media only screen and (max-width: 1024px) and (min-width: 769px) {

  .hero-image {
    background-size: contain;
    height: 45vh;
    margin-top: 75px;
  }

  .main-heading {
    font-size: 23px;
    margin-top: 50px;
  }
}
