body {
  background-color: #ffffff;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
}

body p {
  font-size: 1.1em;
  line-height: 2;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(205, 209, 226, 0.45);
  display: inline-flex;
  height: auto;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.logo-container img {
  height: 100px;
  margin-left: 40px;
  width: auto;
}

.navbar-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
  width: 50%;
}

footer {
  align-items: center;
  color: #D0342D;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

footer h5 {
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: lighter;
  padding-left: 40px;
}

.section-container {
  border-bottom: 4px solid #e6e6e6;
  height: auto;
  margin: 0 auto;
  padding-bottom: 2em;
  width: 90%;
}

.section-header {
  border-bottom: 4px solid #e6e6e6;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (width : 375px) {

  body p {
    font-size: .5em;
  }

  .navbar {
    flex-direction: column-reverse;
    height: 100px;
  }

  .logo-container {
    margin: 0 auto;
    height: 75px;
  }

  .logo-container img {
    margin-left: 0;
    height: 50px;
  }

  .navbar-right {
    border-bottom: 1px solid #f4f4f4;
    font-size: .5em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 25px;
    padding-bottom: 15px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
  }

  .section-container {
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 1em;
  }

  .section-header {
    border-bottom: 2px solid #e6e6e6;
    font-size: .7em;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
  }

  footer h5 {
    font-size: .3em;
    margin: 0;
    padding: 0;
  }
}

/* @media all and (max-width: 767px) {

  .navbar {
    align-content: center;
    height: 15vh;
    justify-content: flex-end;
    min-width: 100%;
    max-width: 100%
  }

  .logo-container {
    min-width: 100%;
    max-width: 100%;
  }

  .logo-container img {
    height: 60px;
    margin-left: 2.5%;
    width: 350px;
  }

  .navbar-right {
    display: none;
  }

  .navbar-links-container {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
  }

  footer h5 {
    font-size: .8em;
    margin: 0;
    padding: 5px;
  }
} */

/* @media all and (max-width: 992px) {

  .navbar {
    align-content: center;
    height: 15vh;
    justify-content: flex-end;
    min-width: 100%;
    max-width: 100%
  }

  .logo-container {
    min-width: 100%;
    max-width: 100%;
  }

  .logo-container img {
    height: 60px;
    margin-left: 2.5%;
    width: 350px;
  }

  .navbar-right {
    display: none;
  }

  .navbar-links-container {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
  }

  footer h5 {
    font-size: .8em;
    margin: 0;
    padding: 5px;
  }
} */
