body {
  background-color: #ffffff;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
}

body p {
  line-height: 2;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(205, 209, 226, 0.45);
  display: inline-flex;
  height: auto;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.logo-container img {
  height: 100px;
  margin-left: 40px;
  width: auto;
}

.navbar-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
  width: 50%;
}

footer {
  align-items: center;
  color: #D0342D;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

footer h5 {
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: lighter;
  padding-left: 40px;
}

@media all and (max-width: 600px) {

  .navbar {
    align-content: center;
    height: 10vh;
    justify-content: center;
    min-width: 100%;
  }

  .logo-container {
    min-width: 100%;
  }

  .logo-container img {
    height: 50px;
    margin-left: 2.5%;
    width: 250px;
  }

  .navbar-right {
    display: none;
  }

  .navbar-links-container {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
  }

  footer h5 {
    font-size: .3em;
    margin: 0;
    padding: 0;
  }
}

@media all and (max-width: 800px) {

  .navbar {
    align-content: center;
    height: 15vh;
    justify-content: flex-end;
    min-width: 100%;
    max-width: 100%
  }

  .logo-container {
    min-width: 100%;
    max-width: 100%;
  }

  .logo-container img {
    height: 60px;
    margin-left: 2.5%;
    width: 350px;
  }

  .navbar-right {
    display: none;
  }

  .navbar-links-container {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
  }

  footer h5 {
    font-size: .8em;
    margin: 0;
    padding: 5px;
  }
}

@media all and (max-width: 1200px) {

  .navbar {
    align-content: center;
    height: 15vh;
    justify-content: flex-end;
    min-width: 100%;
    max-width: 100%
  }

  .logo-container {
    min-width: 100%;
    max-width: 100%;
  }

  .logo-container img {
    height: 60px;
    margin-left: 2.5%;
    width: 350px;
  }

  .navbar-right {
    display: none;
  }

  .navbar-links-container {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
  }

  footer h5 {
    font-size: .8em;
    margin: 0;
    padding: 5px;
  }
}
