.services-list {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.services-list-item {
  width: 100%;
}

.services-list-item ul li {
  list-style: none;
}

/* iPhone 6, 7, and X */
@media only screen and (max-width: 375px) {

  .services-text {
    font-size: .5em;
    padding: 0 .75em 0 .75em;
  }

  ul li {
    font-size: .5em;
  }

   .services-list-item {
     min-width: 80%;
   }

   .services-list-item h3 {
     font-size: .5em;
     padding-left: .75em;
   }
}

/* iphone 6, 7, 8 nexus 5 Landscape */
@media only screen and (max-width: 667px) and (orientation: landscape) {

  .services-text {
    font-size: .75em;
    padding: 1em;
  }

  ul li {
    font-size: .5em;
  }

  .services-list-item {
    min-width: 80%;
  }

  .services-list-item h3 {
    font-size: 1em;
    padding-left: 1em;
  }
}

/* iPhone 6+, 7+, 8+ */
@media only screen and (max-width: 414px) and (min-width: 376px) {

  .services-text {
    font-size: .5em;
    padding: 0 1em 0 1em;
  }

    ul li {
      font-size: .5em;
    }

   .services-list-item {
     min-width: 80%;
   }

   .services-list-item h3 {
     font-size: .5em;
     padding-left: .75em;
   }
}

/* iPad/tablet */
@media only screen and (max-width: 768px) and (min-width: 415px) {

  .services-text {
    font-size: .75em;
    padding: 0 1em 0 1em;
  }

  ul li {
    font-size: .75em;
  }

  .services-list-item {
    min-width: 80%;
  }

  .services-list-item h3 {
    font-size: .5em;
    padding-left: 1em;
  }
}

/* iPad Pro */
@media only screen and (max-width: 1024px) and (min-width: 668px) {

  .services-text {
    font-size: 1.1em;
    padding: 1em;
  }

  ul li {
    font-size: 1em;
  }

  .services-list-item {
    min-width: 80%;
  }

  .services-list-item h3 {
    font-size: 1.1em;
    padding-left: 1em;
  }
}
