.services-list {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.services-list-item {
  width: 100%;
}

.services-list-item h3 {
  font-weight: 500;
}

.services-list-item ul li {
  list-style: none;
}

@media only screen and (max-width: 481px) {

  .services-text {
    font-size: .5em;
    padding: 0 .75em 0 .75em;
  }

  ul li {
    font-size: .5em;
  }

   .services-list-item {
     min-width: 80%;
   }

   .services-list-item h3 {
     font-size: .5em;
     padding-left: .75em;
   }
}

@media only screen and (max-width: 767px) and (min-width: 482px) {

  .services-text {
    font-size: .6em;
    padding: 1em;
  }

  ul li {
    font-size: .5em;
  }

  .services-list-item {
    min-width: 80%;
  }

  .services-list-item h3 {
    font-size: .75em;
    padding-left: 1em;
  }
}

@media only screen and (max-width: 812px) and (min-width: 768px) {

  .services-text {
    font-size: .75em;
    padding: 0 1em 0 1em;
  }

    ul li {
      font-size: .75em;
    }

   .services-list-item {
     min-width: 80%;
   }

   .services-list-item h3 {
     font-size: .85em;
     padding-left: 1em;
   }
}

@media only screen and (max-width: 992px) and (min-width: 813px) {

  .services-text {
    font-size: .75em;
    padding: 0 1em 0 1em;
  }

    ul li {
      font-size: .75em;
    }

   .services-list-item {
     min-width: 80%;
   }

   .services-list-item h3 {
     font-size: .85em;
     padding-left: 1em;
   }
}

@media only screen and (max-width: 1212px) and (min-width: 993px) {

  .services-text {
    font-size: .75em;
    padding: 0 1em 0 1em;
  }

  ul li {
    font-size: .75em;
  }

  .services-list-item {
    min-width: 80%;
  }

  .services-list-item h3 {
    font-size: 1em;
    padding-left: 1em;
  }
}
